.label {
  position: relative;
}

.search {
  width: 100%;
  outline: 0;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid transparent;
  font-size: inherit;
}

.search:focus {
  border: 2px solid cadetblue;
}

.button {
  position: absolute;
  right: 0;
  height: 155%;
  top: 50%;
  transform: translateY(-50%);
}

.button button {
  height: 100%;
}